<!DOCTYPE html>
<html lang="en">
<head>
<title>NepHelp</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Zeta Template Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
<link rel="stylesheet" href="testo.css"> 
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/Footer-with-social-icons.css">
<link rel="stylesheet" type="text/css" href="style0.css">

<style>

/*    FOR TESTIMONIAL */
body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* FOR RINGS */
.red.light1 {
    background-image: url(ring2.svg);
}
.red.light2{
background-image: url(ring3.svg);
margin-top: -16px;
}
.red.light3 {
    background-image: url(ring1.svg);
}

.light1,.light2,.light3 {
    margin: 20px auto;
    padding-top: 65px;
    height: 200px;
    width: 200px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: gotham-bold;
    background-size: cover;
    color:black;
}

.light1,.light2,.light3 div {
    font-size: 48px;
    margin-top: -10px;
    color: black;
    
}

.log1{
	padding-top: 20px;
	font-size:23px;

}
</style>

</head>

<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header d-flex flex-row justify-content-end align-items-center">

		<!-- Logo -->
		<div class="logo_container mr-auto">
			<div class="logo">
				<img src="images/logo.png" alt="logo">
			</div>
		</div>

		<!-- Main Navigation -->
		<nav class="main_nav justify-self-end">
			<ul class="nav_items">
				<li class="active"><a href="#"><span>Home</span></a></li>
				<li><a href="https://nephelp-chat.herokuapp.com/"><span>Chat</span></a></li>
				<li><a href="/explore"><span>Explore</span></a></li>
				<li><a href="/about"><span> About Us</span></a></li>
				<li><a href="/contact"><span>Email Us</span></a></li>
				{{#if user}}
			           <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role = "button" aria-haspopup="true" aria-expanded="false">
                    Problem<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/sexual">Sexual</a></li>
                  <li><a href="/mental">Mental</a></li>
                </ul>
              </li>
			          <li><a href="/logout">Logout</a></li>
				{{else}}
        			<li><a href="/login"><span>Login</span></a></li>
					<li><a href="/register"><span>Register</span></a></li>
				{{/if}}
			</ul>
		</nav>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<span class="hamburger_text">Menu</span>
			<span class="hamburger_icon"></span>
		</div>

	</header>

	<!-- Menu -->

	<div class="fs_menu_overlay"></div>
	<div class="fs_menu_container">
		<div class="fs_menu_shapes"><img src="images/menu_shapes.png" alt=""></div>
		<nav class="fs_menu_nav">
			<ul class="fs_menu_list">
				<li><a href="#"><span><span>H</span>Home</span></a></li>
				<li><a href="#"><span><span>C</span>Chat</span></a></li>
				<li><a href="#"><span><span>D</span>Discussion Panel</span></a></li>
				<li><a href="#"><span><span>A</span>About Us</span></a></li>
				<li><a href="#"><span><span>E</span>Email Us</span></a></li>
			</ul>
		</nav>   
    
		<div class="fs_social_container d-flex flex-row justify-content-end align-items-center">
			<ul class="fs_social">
				<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>

			</ul>
		</div>
	</div>
	<!-- Hero Slider -->
	
	<div class="home">
		<div class="hero_slider_container slider_prlx">
			<div class="owl-carousel owl-theme hero_slider">

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(images/main_slider_2.jpg)"></div>
					<div class="main_slider_shapes"><img src="images/main_slider_shapes.png" alt="" style="width: 100% !important;"></div>
					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
									
									<h1 style="color:black;">NepHelp</h1>
                                    <p style="color:black;">Let's understand ourselves better. </p></font>
									
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(images/main_slider_3.jpg)"></div>
					<div class="main_slider_shapes"><img src="images/main_slider_shapes.png" alt="" style="width: 100% !important;"></div>
					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(images/main_slider_1.jpg)"></div>
					<div class="main_slider_shapes"><img src="images/main_slider_shapes.png" alt="" style="width: 100% !important;"></div>
					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
									<h1 style="color:black;">NepHelp</h1>
                                    <p style="color:black;">Let's understand ourselves better. </p></font>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slider Dots -->

			<div class="main_slider_dots">
				<div class="container">
					<div class="row">
						<div class="col">
							<ul id="main_slider_custom_dots" class="main_slider_custom_dots">
								<li class="main_slider_custom_dot active">01.</li>
								<li class="main_slider_custom_dot">02.</li>
								<li class="main_slider_custom_dot">03.</li>
							</ul>
						</div>
					</div>
				</div>		
			</div>

			<!-- Slider Dots -->

			<div class="main_slider_nav_left main_slider_nav">
				<i class="fas fa-chevron-left trans_300"></i>
			</div>

			<div class="main_slider_nav_right main_slider_nav">
				<i class="fas fa-chevron-right trans_300"></i>
			</div>

		</div>
	</div>

	<div class="home_social_container d-flex flex-row justify-content-end align-items-center">
		<ul class="home_social">
			<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
			
		</ul>
	</div>
		
    		                            
<!--steps-->
    
<div >
	<h2 style="margin-top: 0px;text-align:center;">HOW TO CONNECT</h2>

	<div class="container-fluid" style="padding-bottom:100px">

	<div class="row">
    <div class="col-xs-12 col-sm-4">
          <div class="red light1" >
            <p style="margin: 0px 18px 0px 82px;color: black;">Step</p>
            <div style="margin: -21px 35px 11px 88px;">1</div>
            <div class="log1"><br>LOGIN/REGISTER</div>
          </div>
        </div>
    <div class="col-xs-12 col-sm-4">
          <div class="red light2">
            <p style="margin: 0px 18px 0px 82px;color: black;">Step</p>
            <div style="margin: -21px 35px 11px 88px;">2</div>
            <div class="log1"><br>FIND THE RIGHT
            	<div style="text-align: center;">EXPERT</div>
            	</div>
          </div>
        </div>
       <div class="col-xs-12 col-sm-4" style="margin-top:-22px">
          <div class="red light3">
            <p style="margin: 0px 18px 0px 82px;color: black;">Step<br></p>
            <div style="margin: -21px 35px 11px 88px;">3</div>
            <div class="log1"><p style="font-size:23px;color: black;text-align: center;"><br>CONNECT</p></div>
          </div>
        </div>
	
	
</div>
</div>
</div>

	<br><br><br>
    
    
	<!-- About -->


<div class="container">
	<div class="row">
		<div class="col-md-8 col-center m-auto">
			<h2>Testimonials</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						
						<p class="overview"><b>Anynomous 1 </b></p>
						<p class="testimonial">My feedback....</p>
						
					</div>
					<div class="item carousel-item">
						<p class="overview"><b>Anynomous 2 </b></p>
						<p class="testimonial">aleezaa feedback...</p>
					</div>
					<div class="item carousel-item">
						<p class="overview"><b>Anynomous 3 </b></p>
						<p class="testimonial">feedbackkkk...</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
                            
    
    
    
        <footer class="footer">
		<div class="container">
			<div class="row footer_content d-flex flex-sm-row flex-column align-items-center">
				<div class="col-sm-6 cr text-sm-left text-center">
					<p>NepHelp</p>
				</div>
				<div class="col-sm-6 text-sm-right text-center">
					<div class="footer_social_container">
						<ul class="footer_social">
							<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
							<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
    
    
   
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/custom.js"></script>

</body>

</html>